<div>
    @Html.ActionLink("Eng", "ChangeCulture", "Home", new { lang = "en", returnUrl = this.Request.RawUrl }, null)
    |
    @Html.ActionLink("Рус", "ChangeCulture", "Home", new { lang = "ru", returnUrl = this.Request.RawUrl }, null)
</div>
