@{
    ViewBag.Title = Resx.SharedStrings.homepage;
}

<br /><br />
Программа должна предоставлять любому пользователю возможность:<br />
<ul>
    <li>просматривать ведомость в виде таблицы;<br /></li>
    <li>выполнять сортировку таблицы по типу платежа, дате, и по фамилии подотчетного лица. Сортировка может задаваться любым удобным способом, например, через combo-box с перечисленными полями;<br /></li>
    <li>осуществлять поиск платежа по первым буквам фамилии подотчетного лица, дате.<br /></li>
</ul>
<br />
Программа должна предоставлять зарегистрированным пользователям (подотчетным лицам) возможность добавлять новые платежи, редактировать существующие и удалять имеющиеся (но только свои).<br />
Пользователь, с правами администратора, должен обладать всеми правами по изменению данных ведомости.<br />